.works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.work {
  width: 24.947%;
  min-height: 300px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  &:hover .work__background {
    visibility: visible;
    opacity: 0.8;
  }
  &:hover .work__image {
    transform: scale(1.2);
  }
  &:hover .work__description__top, &:hover .work__description__bottom {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  &__image {
    height: 100%;
    width: 100%;
    display: block;
    transition: all 0.3s;
  }
  &__background {
    overflow: hidden;
    position: absolute;
    left:0;
    bottom: 0;
    right: 0;
    top:0;
    background-color: $work-hover-color;
    color: #fff;

    opacity: 0;
    visibility: hidden;

    transition: opacity, 0.3s;
  }
  &__description {
    position: absolute;
    text-align: center;
    top:50%;
    width: 100%;
    transform: translate(0, -50%);
    &__top, &__bottom {
      transition: all 0.3s 0.1s;
      opacity: 0;
      font-size: $p-font-size;
    }
    &__top {
      transform: translate3d(0, -200%, 0);
      padding-bottom: 5px;
      font-weight: bolder;
    }
    &__bottom {
      transform: translate3d(0, 200%, 0);
      padding-top: 5px;
    }
  }
}

.work:nth-of-type(n+1) {
  margin-right: 0.07%;
}

.work:nth-of-type(4) {
  margin-right: 0px;
}

.work:nth-of-type(8) {
  margin-right: 0px;
}

.work:nth-of-type(1), .work:nth-of-type(2), .work:nth-of-type(3), .work:nth-of-type(4), {
  margin-bottom: 0.05%;
}

.work-animated {
  @for $i from 1 through 2 {
    &:nth-child(#{$i}) {
      animation-name: work-flip;
      animation-duration: 1s;
      animation-delay: (0.15s * $i);
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
  @for $i from 3 through 4 {
    &:nth-child(#{$i}) {
      animation-name: work-flip;
      animation-duration: 1s;
      animation-delay: (0.45s / $i);
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
  &:nth-child(8) {
    animation-name: work-flip2;
    animation-duration: 1s;
    animation-delay: 0.15s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  &:nth-child(7) {
    animation-name: work-flip2;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  &:nth-child(6) {
    animation-name: work-flip2;
    animation-duration: 1s;
    animation-delay: 0.15s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  &:nth-child(5) {
    animation-name: work-flip2;
    animation-duration: 1s;
    animation-delay: 0.1125s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}
